<h1>{{topic}}</h1>
<h3>by: {{owner.username}}</h3>

<p>
  {{description}}
</p>

<div>
  <a href="/peatches/{{peatchId}}/invite">Invite people</a>
</div>

<div>
  <ul>
    {{#members}}
      <li>{{username}}</li>
    {{/members}}
  </ul>
</div>