<h1>{{topic}}</h1>
<h3>by: {{owner.username}}</h3>

<p>
  {{description}}
</p>

<div>
  <a href="/peatches/{{peatchId}}/invite">Invite people</a>
</div>

<div class="memberslist-peatches d-flex flex-row justify-content-start align-items-center">
  <ul class="list-inline">
    {{#members}}
      <li class="memberslist-member-chip m-1 px-2 py-1 list-inline-item">
        <img src="{{profile.userpicPath}}" alt="{{username}}'s userpic" class="userpic-circle"> 
        <span class="text-dark px-1">{{username}}</span>
      </li>
    {{/members}}
  </ul>
</div>

<div class="add-proposal-component">
  {{>peatches/_add}}
</div>

<div class="list-proposal-component">
  {{>peatches/_list}}
</div>