<div>
  <h3 class="display-5 mb-4">{{username}}'s Profile</h3>

  {{#if session.user.profile.userpicPath}}
    <div class="text-center mb-3">
      <img
        class="img-fluid userpic-profile"
        src="{{session.user.profile.userpicPath}}"
        alt="{{username}}'s userpic"
      />
    </div>
  {{/if}}

  <form action="/{{username}}/profile" method="POST" enctype="multipart/form-data">

    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-person"></i></span>
      <input type="text" name="username" class="form-control me-1" value="{{username}}" disabled />

      <span class="input-group-text"><i class="bi bi-envelope"></i></span>
      <input type="email" name="email" class="form-control me-1" value="{{email}}" />
    </div>

    <div class="input-group mb-3">
      {{!-- <span class="input-group-text"><i class="bi bi-person"></i></span> --}}
      <input type="text" name="firstName" class="form-control me-1" placeholder="First name" value="{{profile.firstName}}" />
      {{!-- <span class="input-group-text"><i class="bi bi-letter"></i></span> --}}
      <input type="text" name="lastName" class="form-control me-1" placeholder="Last name" value="{{profile.lastName}}" />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-person-badge"></i></span>
      <input type="file" name="userpic" class="form-control me-1" />
      <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
      <input type="password" name="password" class="form-control me-1" placeholder="******" />
    </div>

    <div class="input-group mb-3">
      <hr />
    </div>
    <div class="input-group mb-3">
      <input type="text" name="street" class="form-control me-1" placeholder="Street" value="{{profile.address.street}}" />
      <input
        type="text"
        name="houseNr"
        class="form-control me-1"
        placeholder="House Nr"
        value="{{profile.address.houseNr}}"
      />
    </div>

    <div class="input-group mb-3">
      <input type="text" name="zipCode" class="form-control me-1" placeholder="ZIP" value="{{profile.address.zipCode}}" />
      <input type="text" name="city" class="form-control me-1" placeholder="City" value="{{profile.address.city}}" />
    </div>

    <div class="input-group mb-3">
      <input
        type="text"
        name="country"
        class="form-control me-1"
        placeholder="Country"
        value="{{profile.address.country}}"
      />
    </div>
    </div>

    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-outline-primary">Update Profile</button>
    </div>

    {{#if errorMessage}}
      {{>_flashError}}
    {{/if}}
  </form>
</div>